<h1>Welcome</h1>

<p>This is a Twiddle for a blog post series written by Kris Van Houten about writing accessible Ember apps. If you want to read that series, head over to krivaten.com (Sorry I can't link to external sites in Twiddles).</p>

<p>If you meant to be here, well then, that's awesome. Go ahead and turn on your screen reader and start tabbing / clicking around to see how things sound / work.</p>

<p>Cheers!</p>
